body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.img-fix {
    width: 700px;
    height: 300px;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.bordered-row {
   border-width: 1px;
   border-color: #23527c;
    /*border-bottom: 0px;*/
    border-style:dashed;
}

